* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.outer-box {
  border: 2px solid black;
  padding: 52px;
  display: inline-block;
  background-color: white;
}

/* Inner background area */
.container {
  background-color: gainsboro;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Card inside */
.card {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
              rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
              rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Button styles */
button {
  width: 200px;
  padding: 10px;
  font-size: 1.2em;
  cursor: pointer;
  color: white;
  border-radius: 10px;
  border: none;
}

#deposit {
  background-color: rgb(16, 208, 16);
}
#deposit:hover {
  background-color: rgb(23, 233, 23);
}

#withraw {
  background-color: red;
}
#withraw:hover {
  background-color: rgb(231, 27, 27);
}

/* Money text */
p {
  font-size: 1.5em;
  color: rgb(16, 208, 16);
}
